.calculadora {
    background: rgb(20, 125, 167);
    color: white;
    width: 200px;
    padding: 10px;
border-radius: 10px;
text-align: center;
}
.calculadora input {
    background: coral;
    color: black;
    border-radius: 8px;
    padding: 8px;
}
#sptotal {
    background: blueviolet;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}